body {
	background: #f4f5f7;
	padding: 0;
	margin: 0;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}
.pages {
	.md-tile-left {
		position: relative;
		.check {
			position: absolute;
			width: 48px;
			color: #fff;
			border: 1px solid #fff;
			background: rgba(3, 169, 244, .5);
			border-radius: 30px;
			top: 16px;
			left: 16px;
			text-align: center;
			line-height: 48px;
		}
	}
}
.face {
	border-radius: 30px;
	border: 1px solid #ddd;
	width: 48px;
	margin: 16px;
}
.cover {
	width: 100%;
}
.chosen-category {
	width: 50%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	.toolbar {
		padding: 0 1em;
		label, input {
			width: 100%;
		}
	}
	.chosen-page {
		position: relative;
		&.single {
			div.cover {
				width: 100%;
				height: 160px;
				overflow: hidden;
				position: relative;
				img {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			.undercover {
				position: absolute;
				right: 16px;
				top: 122px;
			}
			.info {
				font-size: .8em;
				padding: .5em;
				h2, p {
					margin: .5em 0;
				}
			}
		}
		&.double {
			width: 50%;
			float: left;
			div.cover {
				width: 100%;
				height: 80px;
				overflow: hidden;
				position: relative;
				img {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			.undercover {
				position: absolute;
				right: 8px;
				top: 40px;
			}
			.info {
				font-size: .6em;
				padding: .5em;
				h2, p {
					margin: .5em 0;
				}
			}
			&:first-of-type {
				border-right: 1px solid #ccc;
			}
		}
		&.triple {
			&:first-of-type {
				width: 100%;
				height: 160px;
				position: relative;
				div.cover {
					height: 160px;
					img {
						height: 160px;
					}
				}
				.undercover {
					z-index: 2;
				}
				div.info {
					position: absolute;
					color: #fff;
					top: 50%;
					left: 0;
					background: rgba(0, 0, 0, .5);
					height: 50%;
					width: 100%;
					font-size: .8em;
					z-index: 1;
				}
			}
			width: 50%;
			height: 160px;
			float: left;
			div.cover {
				height: 80px;
				img {
					height: 80px;
				}
			}
			.undercover {
				position: absolute;
				right: 8px;
				top: 40px;
			}
			.info {
				font-size: .6em;
			}
		}
		&.quadriple {
			width: 50%;
			height: 160px;
			float: left;
			div.cover {
				height: 80px;
				img {
					height: 80px;
				}
			}
			.undercover {
				position: absolute;
				right: 8px;
				top: 40px;
			}
			.info {
				font-size: .6em;
			}	
		}
		&.penta {
			width: 100%;
			img {
				min-width: 56px;
				margin-right: -16px;
			}
			.info {
				text-overflow: ellipsis;
				padding: 16px;
			}
		}
	}
}