
<md-card ng-if="!loggedIn">
	<button class="login" class="button btn primary" ng-click="login()">Login with facebbok</button>
</md-card>
<md-content ng-if="loggedIn" layout="column" layout-fill>
	<div layout="row" flex="100">
		<div layout="column" flex="25" class="md-whiteframe-z1">
			<md-content layout="column" class="" md-scroll-y>
				<md-list>
					<md-item ng-repeat="page in pages">
						<md-item-content ng-click="pushToChosen(page)">
							<div class="md-tile-left">
								<img ng-class="{'md-fab': page.wanted}" ng-src="{{page.picture.data.url}}" class="face" alt="{{page.name}}">
							</div>
							<div class="md-tile-content">
								<h3>{{page.name}}</h3>
								<h4>{{page.id}}</h4>
								<p>
									{{page.category}}
								</p>
							</div>
						</md-item-content>
					</md-item>
				</md-list>
			</md-content>
		</div>
		<md-content flex="75" layout-fill md-scroll-y layout-padding="10">
			<section class="chosen-category md-whiteframe-z1" ng-repeat="(key, value) in chosenPages | groupBy: 'category'" flex="50">
				<md-toolbar md-theme="indigo" class="md-default-theme">
					<form>
						<div class="column">
							<md-text-float label="Category" ng-model="value[0].category" > </md-text-float>
						</div>
					</form>
				</md-toolbar>
				<md-card class="chosen-page" ng-repeat="page in value" ng-class="getClass(page.category)">
					<img ng-if="getClass(page.category) != 'penta'" ng-src="{{page.cover.source}}" class="cover" alt="{{page.name}}">
					<img ng-src="{{page.picture.data.url}}" class="face undercover" alt="{{page.name}}">
					<h2>{{page.name}}</h2>
					<p>{{page.category}}<p>
				</md-card>
			</section>
		</div>
	</div>
</md-content>
